@model EntityLayer.Concrete.Blog

<div class="comment-top">
	<h4>Yorum Ekle</h4>
	<div class="comment-bottom">
		<form id="commentForm" method="post">
			<input type="hidden" name="BlogID" value="@Model.BlogID">

			<input class="form-control" type="text" name="CommentUserName" placeholder="İsim">
			<p id="CommentUserName" class="text-danger"></p>

			<input class="form-control" type="text" name="CommentTitle" placeholder="Başlık">
			<p id="CommentTitle" class="text-danger"></p>

			<input class="form-control" type="text" name="" placeholder="Web Siteniz">

			<textarea class="form-control" name="CommentContent" placeholder="Message..." required=""></textarea>
			<p id="CommentContent" class="text-danger"></p>

			<button type="submit" class="btn btn-primary submit" onclick="commentForm(); return false;">Yorum Yap</button>
		</form>
	</div>
</div>


<script type="text/javascript">
	function commentForm() {
		var data = $("#commentForm").serialize();
		$.ajax({
			type: 'POST',
			url: '/Comment/PartiaAddComment/',
			contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
			data: data,
			success: function(result) {
				console.log(result)
				var parsedData = JSON.parse(result);

				// Veriyi ayrıştırdıktan sonra erişebilirsiniz
				var status = parsedData.status;
				var resultMessages = parsedData.resultMessages;

				if (status) {
					showToastMessage2();
				}
				else {
					// resultMessages içindeki öğeleri dolaşabilirsiniz
					for (var i = 0; i < resultMessages.length; i++) {

						var propertyName = resultMessages[i].propertyName;
						var message = resultMessages[i].message;

						document.getElementById(propertyName).innerHTML = message
					}
				}
			},
			error: function(result) {
				alert("Failed");
				console.log('Failed ');
			}
		})
	}


	function showToastMessage2() {
		Toastify({
			text: "Yorumunuz Eklendi...",
			duration: 3000,
			newWindow: true,
			close: true,
			gravity: "top", // `top` or `bottom`
			position: "right", // `left`, `center` or `right`
			stopOnFocus: true, // Prevents dismissing of toast on hover
			style: {
				background: "linear-gradient(to right, #00b09b, #96c93d)",
			},
			onClick: function() { } // Callback after click
		}).showToast();
	}
</script>
